$header-height: 5vh;
$content-height: 95vh;
$header-width: 90vw;

@mixin container-config {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

@mixin header-config {
  background-color: rgba(0, 0, 0, 0.1);
  letter-spacing: 4px;
  padding: 0vh 5vw;
  line-height: $header-height;
  flex-basis: $header-height;
  min-width: $header-width;
}

@media screen and (min-width: 768px) {
  .graph-app-container {
    @include container-config;
    background-image: url('../images/city.jpg');
    .header {
      @include header-config;
    }
    .content {
      flex-basis: $content-height;
      width: 80vw;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-content: center;
      align-items: center;
      .sidebar {
        max-height: 80vh;
        flex-basis: 30vw;
        overflow-y: scroll;
        text-align: center;
        ul {
          li{
            margin: 5rem 3rem;
            cursor: pointer;
            list-style-type: none;
          }
        }
      }
      .display {
        flex-basis: 30vw;
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .graph-app-container {
    @include container-config;
    background-image: url('../images/city-md.jpg');
    .header {
      @include header-config;
    }
    .content {
      flex-basis: $content-height;
      width: 90vw;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-content: center;
      align-items: center;
      .sidebar {
        flex-basis: 60vh;
        max-width: 40vw;
        overflow-y: scroll;
        text-align: center;
        ul {
          li{
            margin: 3rem 1rem;
            cursor: pointer;
            list-style-type: none;
          }
        }
      }
      .display {
        flex-basis: 10vh;
      }
    }
  }
}

@media screen and (max-width: 319px) {
  .graph-app-container {
    @include container-config;
    .header {
      @include header-config;
    }
    .content {
      flex-basis: $content-height;
      width: 90vw;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-content: center;
      align-items: center;
      .sidebar {
        font-size: 10px;
        flex-basis: 60vh;
        max-width: 40vw;
        overflow-y: scroll;
        text-align: center;
        ul {
          li{
            margin: 3rem 1rem;
            cursor: pointer;
            list-style-type: none;
          }
        }
      }
      .display {
        font-size: 10px;
        flex-basis: 10vh;
      }
    }
  }
}
